@using Email.DiscoPlugin.Models
@model ConfigurationModel

<div class="clearfix" style="width: 750px; margin: 0 auto 0 auto;">
    <div class="form" style="float: left">
        <h2>Email Server Configuration</h2>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.SmtpServerAddress)
                </th>
                <td>
                    @Html.EditorFor(m => m.SmtpServerAddress)<br/>
                    @Html.ValidationMessageFor(m => m.SmtpServerAddress)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.SmtpServerPort)
                </th>
                <td>
                    @Html.EditorFor(m => m.SmtpServerPort)<br/>
                    <span>Default is 25</span>
                    @Html.ValidationMessageFor(m => m.SmtpServerPort)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.EnableSsl)
                </th>
                <td>
                    @Html.CheckBoxFor(m => m.EnableSsl)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.SmtpSenderAddress)
                </th>
                <td>
                    @Html.EditorFor(m => m.SmtpSenderAddress)<br/>
                    @Html.ValidationMessageFor(m => m.SmtpSenderAddress)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.AuthenticationRequried)
                </th>
                <td>
                    @Html.CheckBoxFor(m => m.AuthenticationRequried)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.SmtpUsername)
                </th>
                <td>
                    @Html.EditorFor(m => m.SmtpUsername)<br />
                    @Html.ValidationMessageFor(m => m.SmtpUsername)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.SmtpPassword)
                </th>
                <td>
                    @Html.EditorFor(m => m.SmtpPassword)<br />
                    @Html.ValidationMessageFor(m => m.SmtpPassword)
                </td>
            </tr>
        </table>
        <hr/>
        <h2>Email Alert Configurations</h2>
        <table>
            @for (var i = 0; i < Model.MessageConfig.Count; i++)
            {
                <tr>
                    <th>@Html.DisplayNameFor(m => Model.MessageConfig[i].EmailMessageType): @Model.MessageConfig[i].EmailMessageType.GetDisplayName() @Html.HiddenFor(m => m.MessageConfig[i].EmailMessageType)</th>
                    <td>
                        @Html.DisplayNameFor(m => Model.MessageConfig[i].EmailSubject): @Html.EditorFor(m => Model.MessageConfig[i].EmailSubject, new { @class = "resizer" })<br />
                        @Html.DisplayNameFor(m => Model.MessageConfig[i].EmailBody): @Html.EditorFor(m => Model.MessageConfig[i].EmailBody, new { @class = "resizer" })<br/>
                        @if (Model.MessageConfig[i].EmailMessageType != MessageType.PluginTestEmail)
                        {
                            @Html.DisplayNameFor(m => Model.MessageConfig[i].EmailAlertEnabled)<text>:</text> @Html.CheckBoxFor(m => Model.MessageConfig[i].EmailAlertEnabled)
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        $('[value="Save Configuration"]').val('Save & Test Configuration');

        if ($('#AuthenticationRequried').not(':checked'))
        {
            $('#SmtpUsername').val("");
            $('#SmtpPassword').val("");
            $('#SmtpUsername').prop("disabled", !$(this).is(':checked'));
            $('#SmtpPassword').prop("disabled", !$(this).is(':checked'));
        }

        $('#AuthenticationRequried').change(function () {
            $('#SmtpUsername').val("");
            $('#SmtpPassword').val("");
            $('#SmtpUsername').prop("disabled", !$(this).is(':checked'));
            $('#SmtpPassword').prop("disabled", !$(this).is(':checked'));
        });
    });
</script>